
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
*{
  box-sizing: border-box;
}
.bg {
  background-image: url(./img/Rectangle.png);
  position: absolute;
width: 100%;
height: 804px;
left: 0px;
top: 0px;
}

 .navbar {
  position: absolute;
width: 1470px;
height: 115px;
left: -2px;
top: -1px;
} 

.navbar a{
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.home{
  position: absolute;
width: 56px;
height: 23px;
left: 359px;
top: 47px;

font-family: 'Audiowide';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
/* identical to box height */
color: #F3F4F4;
}

.about{
  position: absolute;
width: 63px;
height: 23px;
left: 465px;
top: 47px;

font-family: 'Audiowide';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
/* identical to box height */
color: #F3F4F4;
}

.logo{
  position: absolute;
left: 43.67%;
right: 43.72%;
top: 50px;
}

.events{
  position: absolute;
width: 71px;
height: 23px;
left: 911px;
top: 47px;

font-family: 'Audiowide';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
/* identical to box height */


color: #F3F4F4;
}

.partner{
  position: absolute;
width: 91px;
height: 23px;
left: 1032px;
top: 47px;

font-family: 'Audiowide';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
/* identical to box height */


color: #F3F4F4;
}

.contacts{
  position: absolute;
width: 81px;
height: 23px;
left: 1173px;
top: 47px;

font-family: 'Audiowide';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
/* identical to box height */


color: #F3F4F4;
}

.text {
  position: absolute;
width: 776px;
height: 49px;
left: 332px;
top: 300px;

font-family: 'Fredericka the Great';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 49px;
/* identical to box height */
color: #FFFFFF;
}
.ar{
  position: absolute;
width: 34px;
height: 34px;
left: 50px;
top: 385px;
}

.al{
  position: absolute;
width: 34px;
height: 34px;
left: 1390px;
top: 385px;

}
.dots{
  position: absolute;
width: 115px;
height: 11px;
left: 662px;
top: 753px;

}
.text2{
  position: absolute;
width: 1008px;
height: 48px;
left: 216px;
top: 384px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #F3F4F4;

}
.a1{
  width: 169px;
  height: 47px;
  background: url("./img/Rectangle1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 463px;
  left: 635px;
  overflow: hidden;
}

.btn{
  width: 98px;
  color: rgba(243,244,244,1);
  position: absolute;
  top: 12px;
  left: 30px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}

.aboutus{
  position: absolute;
  width: 100%;
  height: 804px;
left: 0px;
top: 804px;
background: #1E1E1E;
}
.au{
  position: absolute;
width: 411px;
height: 123px;
left: 81px;


font-family: 'Fredericka the Great';
font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 123px;
/* identical to box height */


color: #F3F4F4;

opacity: 0.4;
}

.au2{
  position: absolute;
width: 260px;
height: 61px;
left: 122px;
top: 132px;

font-family: 'Audiowide';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 61px;

color: #E10D45;
}

.frame{
  box-sizing: border-box;

position: absolute;
width: 437px;
height: 480px;
left: 169px;
top: 280px;


border-radius: 10px;
}
.photo{
  position: absolute;
width: 442px;
height: 465px;
left: 139px;
top: 270px;


border-radius: 10px;
}

.para{
  position: absolute;
width: 638px;
height: 242px;
left: 673px;
top: 330px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

color: #F3F4F4;
}

.a2{
  width: 169px;
  height: 47px;
  background: url("./img/Rectangle1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 630px;
  left: 673px;
  overflow: hidden;
}

.ev{
  position: absolute;
width: 307px;
height: 123px;
left: 828px;
top: 1638px;

font-family: 'Fredericka the Great';
font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 123px;
/* identical to box height */

text-align: right;

color: #1E1E1E;

opacity: 0.4;
}

.ev2{
  position: absolute;
width: 189px;
height: 61px;
left: 1128px;
top: 1718px;

font-family: 'Audiowide';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 61px;
text-align: right;

color: #E10D45;

}

.pr{
  position: absolute;
width: 360px;
height: 123px;
left: 81px;
top: 1644px;

font-family: 'Fredericka the Great';
font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 123px;
/* identical to box height */


color: #1E1E1E;

opacity: 0.4;
}

.pr2{
  position: absolute;
width: 332px;
height: 61px;
left: 122px;
top: 1775px;

font-family: 'Audiowide';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 61px;

color: #E10D45;
}

.para2{
  position: absolute;
width: 638px;
height: 110px;
left: 122px;
top: 1900px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

color: #1E1E1E;
}

.a3{
  width: 169px;
  height: 47px;
  background: url("./img/Rectangle1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 2040px;
  left: 115px;
  overflow: hidden;
}

.frame2{
  box-sizing: border-box;

position: absolute;
width: 437px;
height: 480px;
left: 850px;
top: 1749px;

border-radius: 10px;
transform: matrix(-1, 0, 0, 1, 0, 0);
}
.photo2{
  position: absolute;
width: 442px;
height: 465px;
left: 875px;
top: 1739px;

border-radius: 10px;
transform: matrix(-1, 0, 0, 1, 0, 0);
}
.contact{
  position: absolute;
  width: 100%;
  height: 804px;
left: 0px;
top: 2319px;

background: #1E1E1E;
}

.cn{
  position: absolute;
width: 362px;
height: 123px;
left: 539px;
top: 44px;

font-family: 'Fredericka the Great';
font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 123px;
/* identical to box height */


color: #F3F4F4;

opacity: 0.4;
}

.cn2{
  position: absolute;
width: 574px;
height: 61px;
left: 433px;
top: 174px;

font-family: 'Audiowide';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 61px;

color: #E10D45;

}